html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: #444;

  @include respond(normal-desktop) {
    //width < 1600px
    font-size: 60%;
  }
  @include respond(tab-land) {
    //width < 1440px
    font-size: 56.25%;
    overflow-y: visible !important;
  }
  @include respond(tab-port) {
    //width < 1040px
    font-size: 50%;
  }
  @include respond(phone) {
    //width < 700px
    font-size: 40%;
  }
}