.form {
  padding: 10rem 0 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  color: white;
  font-size: 30px;
  width: 100%;
  margin-bottom: 75px;
  text-align: center;
}

.btn,
.btn::after {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.btn {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 1rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn::before,
.btn::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: $green1;
  cursor: pointer;
}

.btn {
  overflow: hidden;
}

.btn::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 135%;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 65px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -40px;
  font-size: 20px;
  color: white;
}

input:placeholder-shown ~ label {
  color: red;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 4px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: $green1;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
input:hover ~ .bar:before,
input:hover ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter .4s ease;
  -moz-animation: inputHighlighter .4s ease;
  animation: inputHighlighter .4s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background-color: $green1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background-color: $green1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background-color: $green1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
