.home {
  display: flex;
  justify-content: flex-end;
  width: 99vw;

  &-left {
    width: 50%;
    position: fixed;
    left: 0;
  }

  &-right {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-right: 10%;
  }

  &-chart {

    &_1 {
        width: 100%;
        height: 20rem;
        background-color: #fff;
        margin-top: 3rem;
    }

    &_2 {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: #ccc;
        margin-top: 3rem;
    }
  }

  &-add {
    padding: 14px;
    background-color: $black;
    margin-top: 3rem;

    &__container {
      margin: 0 auto;
      text-align: center;
    }

    &__type {
      width: 55px;
      border: 1px solid #e7e7e7;
      height: 44px;
      font-size: 18px;
      color: $black;
      background-color: #fff;
      margin-right: 10px;
      font-weight: 300;
      transition: all 0.3s;
    }

    &__description,
    &__value {
      border: 1px solid #e7e7e7;
      background-color: #fff;
      color: $black;
      font-family: inherit;
      font-size: 14px;
      padding: 12px 15px;
      margin-right: 10px;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &__description {
      width: 400px;
    }
    &__value {
      width: 100px;
    }

    &__btn {
      font-size: 35px;
      background: none;
      border: none;
      color: $green1;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      margin-left: 10px;
      transition: all 0.3s ease-out;

      &:hover {
        filter: brightness(125%);
        cursor: pointer;
      }

      &:active {
        transform: translateY(2px);
      }
      &:focus {
        outline: none;
      }
    }

    &__type:hover,
    &__description:hover,
    &__value:hover,
    &__type:focus,
    &__description:focus,
    &__value:focus {
      outline: none;
      //   box-shadow: 0 4px 0rem $green1;
    }
  }

  &-balance {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
  }

  &-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    height: 50vh;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #000;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #000;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $green1;
    }

    &-each {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: rgba(#000, 0.3);
      font-size: 1.4rem;
      border-bottom: 1.5px solid #333;

      &_inc {
        color: $green1;
      }

      &_exp {
        color: #d22;
      }

      &_date {
        width: 20%;
      }

      &_description {
        width: 50%;
      }

      &_value {
        width: 20%;
        text-align: right;
      }
    }
  }

  
}
