.landing {
  &-hero {
    display: flex;
    height: 80vh;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;

    &-cta {
      width: 50%;
      text-align: right;
      line-height: 2;
      margin-bottom: 5rem;

      &-text {
        font-size: 3rem;
        
      }

      &-btn {
        background-color: $green1;
        color: #111;
        font-weight: 700;
        border: none;
        border-radius: 2px;
        font-size: 2rem;
        margin-top: 3rem;
        
        padding: 1rem 1.5rem;
        transition: all 0.3s ease-out;

        &,
        &:link,
        &:active,
        &:visited {
          text-decoration: none;
        }

        &:hover {
          background-color: $green2;
          cursor: pointer;
        }
      }
    }

    &-img {
      width: 50%;

      & img {
        height: 28rem;
        margin-left: 4rem;
        filter: hue-rotate(307deg);
      }
    }
  }

  &-description {
    height: 30vh;
    background-color: #fff;
    color: #161616;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 700;
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  &-features {
    padding: 0 5%;
    height: 40vh;
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-each {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        font-size: 1.6rem;

        & > * {
            margin-bottom: 1rem;
        }

        &-img {
            font-size: 3rem;
            color: $green1;
        }
        
        &-title {
            font-weight: 700;
            font-size: 2rem;
        }

        &-text {
            text-align: center;
            line-height: 1.5;
        }
    }
  }
  &-details {
    height: 80vh;
    background-color: #fff;
    color: #161616;
  }
  &-testimonials {
    height: 50vh;
    background-color: #161616;
  }
  &-cta {
    height: 50vh;
    background-color: #fff;
    color: #161616;
  }
}
