.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;

    &-logo {
        position: absolute;
        top: 0;
        height: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        &-img {
            height: 6rem;
            width: 12rem;
            object-fit: cover;
        }
    }

    &-links {
        margin-right: 10%;
        z-index: 1000;
    }

    &-links > * {
        &,
        &:link,
        &:active,
        &:visited {
            color: #ddd;
            text-decoration: none;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4rem;
            margin-left: 3rem;
        }

        &:hover {
            color: #ccc;
        }
    }
}