.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 0 10%;
  position: sticky;
  top: 0;
  z-index: 1000000;    

  &-logo {
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &-img {
      height: 6rem;
      width: 18rem;
      object-fit: cover;
    }

    &-flex {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      &,
      &:link,
      &:visited,
      &:active {
        color: $green1;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-lines {
      display: flex;

      & > * {
        width: 20px;
        height: 40px;
        margin-right: -5px;
      }

      &_1 {
        background-color: $green1;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 3;
      }

      &_2 {
        background-color: $green2;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 2;
      }

      &_3 {
        background-color: $green3;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 1;
      }
    }

    &-text {
      margin-left: 1.6rem;
    }
  }

  &-links {
    z-index: 1000;
    margin-top: 1.5rem;
  }

  &-links > * {
    display: inline;
    
    &,
    &:link,
    &:active,
    &:visited {
      color: #ddd;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      margin-left: 3rem;
      transition: all 0.3s ease-out;
      
    }

    &:hover {
      color: $green1;
      cursor: pointer;
    }
  }
}
