@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Roboto&display=swap");
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #161616;
  color: #ddd;
  overflow-x: hidden; }
  @media only screen and (max-width: 100em) {
    body {
      font-size: 60%; } }
  @media only screen and (max-width: 90em) {
    body {
      font-size: 56.25%;
      overflow-y: visible !important; } }
  @media only screen and (max-width: 65em) {
    body {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    body {
      font-size: 40%; } }

a:focus,
a:active {
  outline: none; }

::-moz-selection {
  background-color: #20bd67;
  color: #161616; }

::selection {
  background-color: #20bd67;
  color: #161616; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #20bd67; }

.home {
  display: flex;
  justify-content: flex-end;
  width: 99vw; }
  .home-left {
    width: 50%;
    position: fixed;
    left: 0; }
  .home-right {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-right: 10%; }
  .home-chart_1 {
    width: 100%;
    height: 20rem;
    background-color: #fff;
    margin-top: 3rem; }
  .home-chart_2 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 3rem; }
  .home-add {
    padding: 14px;
    background-color: #161616;
    margin-top: 3rem; }
    .home-add__container {
      margin: 0 auto;
      text-align: center; }
    .home-add__type {
      width: 55px;
      border: 1px solid #e7e7e7;
      height: 44px;
      font-size: 18px;
      color: #161616;
      background-color: #fff;
      margin-right: 10px;
      font-weight: 300;
      transition: all 0.3s; }
    .home-add__description, .home-add__value {
      border: 1px solid #e7e7e7;
      background-color: #fff;
      color: #161616;
      font-family: inherit;
      font-size: 14px;
      padding: 12px 15px;
      margin-right: 10px;
      border-radius: 5px;
      transition: all 0.3s; }
    .home-add__description {
      width: 400px; }
    .home-add__value {
      width: 100px; }
    .home-add__btn {
      font-size: 35px;
      background: none;
      border: none;
      color: #20bd67;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      margin-left: 10px;
      transition: all 0.3s ease-out; }
      .home-add__btn:hover {
        filter: brightness(125%);
        cursor: pointer; }
      .home-add__btn:active {
        transform: translateY(2px); }
      .home-add__btn:focus {
        outline: none; }
    .home-add__type:hover, .home-add__description:hover, .home-add__value:hover, .home-add__type:focus, .home-add__description:focus, .home-add__value:focus {
      outline: none; }
  .home-balance {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem; }
  .home-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 75%;
    height: 50vh;
    overflow-y: scroll; }
    .home-transactions::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #000; }
    .home-transactions::-webkit-scrollbar {
      width: 12px;
      background-color: #000; }
    .home-transactions::-webkit-scrollbar-thumb {
      border-radius: 2px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #20bd67; }
    .home-transactions-each {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 1.4rem;
      border-bottom: 1.5px solid #333; }
      .home-transactions-each_inc {
        color: #20bd67; }
      .home-transactions-each_exp {
        color: #d22; }
      .home-transactions-each_date {
        width: 20%; }
      .home-transactions-each_description {
        width: 50%; }
      .home-transactions-each_value {
        width: 20%;
        text-align: right; }

.landing-hero {
  display: flex;
  height: 80vh;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center; }
  .landing-hero-cta {
    width: 50%;
    text-align: right;
    line-height: 2;
    margin-bottom: 5rem; }
    .landing-hero-cta-text {
      font-size: 3rem; }
    .landing-hero-cta-btn {
      background-color: #20bd67;
      color: #111;
      font-weight: 700;
      border: none;
      border-radius: 2px;
      font-size: 2rem;
      margin-top: 3rem;
      padding: 1rem 1.5rem;
      transition: all 0.3s ease-out; }
      .landing-hero-cta-btn, .landing-hero-cta-btn:link, .landing-hero-cta-btn:active, .landing-hero-cta-btn:visited {
        text-decoration: none; }
      .landing-hero-cta-btn:hover {
        background-color: #199450;
        cursor: pointer; }
  .landing-hero-img {
    width: 50%; }
    .landing-hero-img img {
      height: 28rem;
      margin-left: 4rem;
      filter: hue-rotate(307deg); }

.landing-description {
  height: 30vh;
  background-color: #565656;
  color: #dfdfdf;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 700;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center; }

.landing-features {
  padding: 0 5%;
  height: 45vh;
  background-color: #161616;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .landing-features-each {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-size: 1.6rem; }
    .landing-features-each > * {
      margin-bottom: 1rem; }
    .landing-features-each-img {
      font-size: 3rem;
      color: #20bd67; }
    .landing-features-each-title {
      font-weight: 700;
      font-size: 2rem; }
    .landing-features-each-text {
      text-align: center;
      line-height: 1.5; }

.landing-details {
  height: 80vh;
  background-color: #565656;
  color: #dfdfdf; }

.landing-testimonials {
  height: 50vh;
  background-color: #161616; }

.landing-cta {
  height: 50vh;
  background-color: #565656;
  color: #dfdfdf; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 0 10%;
  position: sticky;
  top: 0;
  z-index: 1000000; }
  .nav-logo {
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .nav-logo-img {
      height: 6rem;
      width: 18rem;
      object-fit: cover; }
    .nav-logo-flex {
      display: flex;
      align-items: center;
      margin-top: 1rem; }
      .nav-logo-flex, .nav-logo-flex:link, .nav-logo-flex:visited, .nav-logo-flex:active {
        color: #20bd67;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem; }
        .nav-logo-flex:hover, .nav-logo-flex:link:hover, .nav-logo-flex:visited:hover, .nav-logo-flex:active:hover {
          cursor: pointer; }
    .nav-logo-lines {
      display: flex; }
      .nav-logo-lines > * {
        width: 20px;
        height: 40px;
        margin-right: -5px; }
      .nav-logo-lines_1 {
        background-color: #20bd67;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 3; }
      .nav-logo-lines_2 {
        background-color: #199450;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 2; }
      .nav-logo-lines_3 {
        background-color: #11703c;
        transform: skewX(-45deg) skewY(45deg);
        z-index: 1; }
    .nav-logo-text {
      margin-left: 1.6rem; }
  .nav-links {
    z-index: 1000;
    margin-top: 1.5rem; }
  .nav-links > * {
    display: inline; }
    .nav-links > *, .nav-links > *:link, .nav-links > *:active, .nav-links > *:visited {
      color: #ddd;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      margin-left: 3rem;
      transition: all 0.3s ease-out; }
    .nav-links > *:hover {
      color: #20bd67;
      cursor: pointer; }

.form {
  padding: 5rem 0 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.title {
  color: white;
  font-size: 3rem;
  width: 100%;
  margin-bottom: 4rem;
  text-align: center; }

.btn,
.btn::after {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.btn {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  position: relative;
  text-transform: uppercase; }

.btn::before,
.btn::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1; }

.btn:hover {
  color: #20bd67;
  cursor: pointer; }

.btn {
  overflow: hidden; }

.btn::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0; }

.btn:hover:after {
  height: 100%;
  width: 135%; }

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 4rem; }

.input {
  font-size: 1.6rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575; }

.input:focus {
  outline: none; }

/* LABEL ======================================= */
.label {
  color: #999;
  font-size: 1.6rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all; }

/* active state */
.input:focus ~ .label,
.input:valid ~ .label {
  top: -40px;
  font-size: 20px;
  color: white; }

.input:placeholder-shown ~ .label {
  color: red; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before,
.bar:after {
  content: "";
  height: 4px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: #20bd67;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after,
.input:hover ~ .bar:before,
.input:hover ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter .4s ease;
  -moz-animation: inputHighlighter .4s ease;
  animation: inputHighlighter .4s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background-color: #20bd67; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background-color: #20bd67; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background-color: #20bd67; }
  to {
    width: 0;
    background: transparent; } }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  padding: 3rem 0; }
  .footer-contact {
    width: auto; }
    .footer-contact > *:not(:first-child) {
      margin-top: 1.5rem; }
  .footer a {
    color: rgba(10, 161, 231, 0.972); }
    .footer a:hover {
      cursor: pointer; }
  .footer-links {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 44em) {
      .footer-links {
        width: 40%; } }
    .footer-links > * {
      font-size: 2.4rem;
      transition: all 0.2s ease-out;
      padding: 1rem; }
    .footer-links_facebook, .footer-links_facebook:link, .footer-links_facebook:visited {
      color: #3b5998;
      margin-right: 5rem; }
      @media only screen and (max-width: 44em) {
        .footer-links_facebook, .footer-links_facebook:link, .footer-links_facebook:visited {
          margin-right: 2rem; } }
      .footer-links_facebook:hover, .footer-links_facebook:link:hover, .footer-links_facebook:visited:hover {
        cursor: pointer;
        color: #2d4577; }
    .footer-links_instagram, .footer-links_instagram:link, .footer-links_instagram:visited {
      color: #e1306c;
      margin-right: 5rem; }
      @media only screen and (max-width: 44em) {
        .footer-links_instagram, .footer-links_instagram:link, .footer-links_instagram:visited {
          margin-right: 2rem; } }
      .footer-links_instagram:hover, .footer-links_instagram:link:hover, .footer-links_instagram:visited:hover {
        cursor: pointer;
        color: #c13584; }
